.service-list-wrapper {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;

  @media (min-width: 1024px) {
    overflow-x: visible;
  }
}

.p-datatable-responsive {
  width: 100%;

  .p-datatable-thead > tr > th,
  .p-datatable-tbody > tr > td {
    padding: 0.5rem 0.25rem;

    &:first-child {
      padding-left: 0.75rem;
    }
    &:last-child {
      padding-right: 0.75rem;
    }
  }

  @media (max-width: 640px) {
    .p-datatable-thead > tr > th,
    .p-datatable-tbody > tr > td {
      min-width: 100px;
      white-space: nowrap;
    }
  }
}
