<div class="card">
  <p-table [value]="serviceList" [paginator]="true" [rows]="5" [loading]="loading" [tableStyle]="{ 'min-width': '50rem' }" [rowsPerPageOptions]="[5, 10, 20]">
    <ng-template pTemplate="header">
      <tr>
        <th>Id</th>
        <th>Código</th>
        <th>Descrição</th>
        <th>Preço</th>
        <th>Ação</th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-service>
      <tr>
        <td>{{service?.id}}</td>
        <td>{{service?.code}}</td>
        <td>{{service?.description}}</td>
        <td>{{service?.price | currency:'BRL'}}</td>
        <td>
          <div class="flex justify-content-center gap-2">
            <p-button icon="pi pi-pencil" class="p-button-rounded p-button-text" [disabled]="loading" (click)="onEdit(service)" (keydown.enter)="onEdit(service)"></p-button>
            <p-button icon="pi pi-trash" class="p-button-rounded p-button-text" [disabled]="loading" (click)="onDelete(service)" (keydown.enter)="onDelete(service)"></p-button>
          </div>
        </td>
      </tr>
    </ng-template>

    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="4">{{loading ? 'Carregando....' : 'Nenhum serviço encontrado'}}</td>
      </tr>
    </ng-template>
  </p-table>
</div>
