<div class="flex items-center justify-center">
  <div *ngIf="shouldShowQueue()" class="w-[380px] md:w-[700px] lg:w-[900px] p-5">
    <p-table [value]="queue()" stripedRows>
      <ng-template pTemplate="header">
        <tr>
          <th>Nome</th>
          <th>Barbeiro</th>
          <th>Serviços</th>
          <th>Chegada</th>
          <th>Status</th>
        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-item>
        <tr [ngClass]="rowClass(item)" [ngStyle]="rowStyle(item)">
          <td>@if (item.customer?.nicknamePreference && item.customer?.nickname) { {{ item.customer.nickname }} } @else { {{ item.customer?.fullname }} }</td>
          <td>{{ item.barber?.fullname }}</td>
          <td>
            <ul class="m-0 p-0">
              <li *ngFor="let service of item.services">{{ service.description }}</li>
            </ul>
          </td>
          <td>{{ item.dtCheckinAt | date: 'dd/MM/yyyy HH:mm:ss' }}</td>
          <td>
            <p-tag [value]="item.status.description" [severity]="getSeverity(item.status.description)"></p-tag>
          </td>
        </tr>
      </ng-template>

      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="6" class="text-center">Nenhum agendamento encontrado para esta data.</td>
        </tr>
      </ng-template>
    </p-table>
  </div>

  <ng-template #closedTemplate>
    <div class="p-4 text-center">
      <p-tag [severity]="'danger'" [value]="'BARBEARIA FECHADA'" *ngIf="!barbershopInfo().isOpen"></p-tag>
      <p class="mt-2">Nenhuma fila disponível no momento</p>
    </div>
  </ng-template>
</div>
