<div class="w-[360px] md:w-[780px] lg:w-[980px] p-4 mx-auto">
  <router-outlet></router-outlet>
  <app-manage-status></app-manage-status>

  <div class="grid grid-cols-1 md:grid-cols-4 gap-4">
    <div
      (click)="showDialog()"
      class="flex items-center justify-center gap-2 p-3 border rounded-lg cursor-pointer hover:bg-gray-100 dark:hover:bg-gray-700 transition-colors status-button"
    >
      <i class="pi pi-refresh"></i>
      <span class="redirect">Atualizar Status Barbearia</span>
    </div>

    <a
      [routerLink]="['/approval']"
      class="flex items-center justify-center gap-2 p-3 border rounded-lg cursor-pointer hover:bg-gray-100 dark:hover:bg-gray-700 transition-colors status-button"
    >
      <i class="pi pi-user"></i>
      <span class="redirect">Fila de Aprovação</span>
    </a>

    <a
      [routerLink]="['/services']"
      class="flex items-center justify-center gap-2 p-3 border rounded-lg cursor-pointer hover:bg-gray-100 dark:hover:bg-gray-700 transition-colors status-button"
    >
      <i class="pi pi-money-bill"></i>
      <span class="redirect">Serviços</span>
    </a>

    <a
      [routerLink]="['/status']"
      class="flex items-center justify-center gap-2 p-3 border rounded-lg cursor-pointer hover:bg-gray-100 dark:hover:bg-gray-700 transition-colors status-button"
    >
      <i class="pi pi-bell"></i>
      <span class="redirect">Status</span>
    </a>

    <a
      [routerLink]="['/history']"
      class="flex items-center justify-center gap-2 p-3 border rounded-lg cursor-pointer hover:bg-gray-100 dark:hover:bg-gray-700 transition-colors status-button"
    >
      <i class="pi pi-bell"></i>
      <span class="redirect">Histórico</span>
    </a>
  </div>

  <p-dialog header="Atualizar Status" [(visible)]="displayDialog" [style]="{width: '360px'}" [modal]="true" [dismissableMask]="true" [closable]="true">
    <app-manage-status-form (formCancel)="displayDialog = false"></app-manage-status-form>
  </p-dialog>

  <app-queue-manager></app-queue-manager>
</div>
