<div class="grid sm:grid-cols-3 w-full gap-4">
  <div>
    <h4 class="font-semibold">Localização</h4>
    <address>Rua Bonifácio de Abreu, 1146, Pq Itamarati, Itapevi</address>
    <p>Telefone: <a href="tel:+5511952423103">11952423103</a></p>
  </div>

  <div>
    <h4 class="font-semibold">Horário de Funcionamento</h4>
    <ul>
      <li>Terça a Sexta: 09:00 às 18:00</li>
      <li>Sábado: 08:00 às 19:00</li>
      <li>Domigos: 08:00 às 13:00</li>
    </ul>
  </div>

  <div>
    <h4 class="font-semibold">Nos Acompanhe</h4>
    <div class="flex space-x-4 text-white">
      <a href="https://facebook.com/kazuebarbearia" class="text-blue-500 text-2xl hover:text-blue-700"><i class="fab fa-facebook-f"></i></a>
      <a href="https://www.instagram.com/kazue_barbearia/" class="text-pink-500 text-2xl hover:text-pink-700"><i class="fab fa-instagram"></i></a>
      <a href="https://api.whatsapp.com/send?phone=5511952423103" class="text-green-500 text-2xl hover:text-green-700"><i class="fab fa-whatsapp"></i></a>
    </div>
  </div>
</div>

<div class="py-4 px-6 text-center">
  <p>&copy; {{ year }} Kazue Barbearia. Todos os direitos reservados.</p>
</div>
