<div class="grid sm:grid-cols-3 justify-center w-full gap-4 bg-black text-white p-8">
  <div class="flex flex-col items-center">
    <h4 class="font-semibold text-yellow-400">Localização</h4>
    <p class="text-center">Rua Bonifácio de Abreu, 1146, Pq Itamarati, Itapevi</p>
    <p>Telefone: <a href="tel:+5511952423103">11952423103</a></p>
  </div>

  <div class="flex flex-col items-center">
    <h4 class="font-semibold text-yellow-400">Horário de Funcionamento</h4>
    <ul class="flex flex-col items-center">
      <li>Terça a Sexta: 09:00 às 18:00</li>
      <li>Sábado: 08:00 às 19:00</li>
      <li>Domigos: 08:00 às 12:00</li>
    </ul>
  </div>

  <div class="flex flex-col items-center">
    <h4 class="font-semibold text-yellow-400">Nos Acompanhe nas Redes Sociais</h4>
    <div class="flex space-x-4 text-white">
      <a href="https://facebook.com/kazuebarbearia" class="text-blue-500 text-2xl hover:text-blue-700"><i class="fab fa-facebook-f"></i></a>
      <a href="https://www.instagram.com/kazue_barbearia/" class="text-pink-500 text-2xl hover:text-pink-700"><i class="fab fa-instagram"></i></a>
      <a href="https://api.whatsapp.com/send?phone=5511952423103" class="text-green-500 text-2xl hover:text-green-700"><i class="fab fa-whatsapp"></i></a>
    </div>
  </div>
</div>

<div class="py-6 px-6 text-center bg-black text-yellow-400">
  <p>&copy; {{ year }} Kazue Barbearia. Todos os direitos reservados.</p>
</div>
