<div class="container mx-auto">
  <div>
    <img src="images/banner.jpeg" alt="banner" class="mb-4" />
    <h1 class="text-4xl md:text-5xl text-center text-yellow-400 mb-6 tracking-tight">Sobre</h1>
    <div class="px-8">
      <p class="text-center md:px-20 lg:px-32">
        A Kazue Barbearia é um espaço exclusivo pensado para o público masculino que valoriza estilo, autoestima e boas conversas. Mais do que cortes, oferecemos uma experiência
        completa — onde você entra para cuidar da aparência e sai se sentindo ainda melhor. Seja para aquele corte de sempre, uma coloração marcante ou até uma transformação
        completa, estamos prontos para te atender com profissionalismo e atenção aos detalhes. Trabalhamos com cortes, colorações, químicas em geral e tratamentos capilares, sempre
        priorizando a saúde dos fios após cada procedimento. Nosso compromisso é entregar um excelente resultado, respeitando o estilo de cada cliente e garantindo sua total
        satisfação. Porque, no fim das contas… um homem com cabelo cortado e uma barba bem feita não quer guerra com ninguém!
      </p>
    </div>
  </div>
  <div class="px-4 py-8">
    <h2 class="text-2xl md:text-3xl font-semi-bold text-center text-yellow-400 mb-10">Equipe de Profissionais</h2>

    <div class="grid grid-cols-1 md:grid-cols-3 gap-x-6 gap-y-10">
      <p-card class="w-full max-w-md mx-auto shadow-md rounded-lg overflow-hidden">
        <ng-template #header>
          <img alt="Jasiel Rodrigues" class="w-full h-auto object-contain" src="images/barbeiro-jasiel.jpeg" />
        </ng-template>
        <ng-template #title>Jasiel Rodrigues</ng-template>
        <ng-template #subtitle
          ><span class="flex items-center gap-2 about instagram">
            <i class="pi pi-instagram text-pink-500"></i>
            <a href="https://www.instagram.com/jasih_rodrigues?igsh=MWZ2NThjMnFjYmducA==">&#64;jasih_rodrigues</a>
          </span>
        </ng-template>
        <p>
          Olá! Meu nome é Jasiel Rodrigues, mais conhecido como Jasih. Atuo como barbeiro desde 2016, sempre valorizando a profissão e buscando excelência em cada atendimento. Além
          da atuação como barbeiro, tive a oportunidade de ministrar cursos e formar novos profissionais na área, contribuindo com o crescimento da barbearia como um todo. Realizo
          cortes variados, com especialidade em cortes na tesoura, estilos afro, fade, freestyle e design de barba. Meu foco está em oferecer um serviço de qualidade, alinhado ao
          estilo e à personalidade de cada cliente, garantindo um resultado único e com identidade.
        </p>
      </p-card>
      <p-card class="w-full max-w-md mx-auto shadow-md rounded-lg overflow-hidden">
        <ng-template #header>
          <img alt="Robson Tanaka" class="w-full h-auto object-contain object-top" src="images/barbeiro-robson.jpeg" />
        </ng-template>
        <ng-template #title>Robson Tanaka</ng-template>
        <ng-template #subtitle
          ><span class="flex items-center gap-2 about instagram">
            <i class="pi pi-instagram text-pink-500"></i>
            <a href="https://www.instagram.com/japa_oficialbarber?igsh=NHp4MjdqaDFvZzYz">&#64;japa_oficialbarber</a>
          </span>
        </ng-template>
        <p>
          Olá! Meu nome é Robson, mais conhecido como Japa. Sou barbeiro profissional, com mais de 10 anos de experiência e atuando na área há 7 anos. Meu trabalho é voltado ao
          cuidado e valorização da imagem masculina, oferecendo serviços especializados em cortes, aparos e modelagens de cabelo e barba. Também realizo hidratações capilares,
          finalizações modernas e personalizadas, sempre acompanhando as tendências atuais. Utilizo técnicas avançadas para garantir um resultado de alta qualidade, priorizando
          sempre a satisfação do cliente. Acredito que um bom corte, uma barba bem feita e um penteado bem finalizado podem transformar não apenas a aparência, mas também a
          autoestima de uma pessoa. É isso que me motiva todos os dias na profissão.
        </p>
      </p-card>

      <p-card class="w-full max-w-md mx-auto shadow-md rounded-lg overflow-hidden">
        <ng-template #header>
          <img alt="Marcos Almeida" class="w-full h-auto object-contain" src="images/barbeiro-marcos.jpeg" />
        </ng-template>
        <ng-template #title>Marcos Almeida</ng-template>
        <ng-template #subtitle
          ><span class="flex items-center gap-2 about instagram">
            <i class="pi pi-instagram text-pink-500"></i>
            <a href="https://www.instagram.com/marcosalmeidatoes?igsh=bTZsZjdzZWNyMzlh">&#64;marcosalmeidatoes</a>
          </span>
        </ng-template>
        <p>
          Olá! Meu nome é Marcos, mais conhecido como Marcão. Atuo como barbeiro desde 2020, sempre com dedicação, responsabilidade e paixão pela profissão. Sou especialista em
          cortes degradê, penteados, química capilar, barba e design de sobrancelhas. Meu foco está em entregar resultados de qualidade, personalizados e alinhados ao estilo de
          cada cliente. Acredito que cada detalhe faz diferença, e é isso que torna cada corte único. Na Barbearia Kazue, meu compromisso é oferecer não apenas um bom corte, mas
          uma experiência completa, que eleva a autoestima e valoriza a identidade de cada pessoa.
        </p>
      </p-card>
    </div>
  </div>
</div>
