<main class="min-h-screen flex items-center justify-center bg-gray-900 text-white">
  <div class="text-center p-6 max-w-md">
    <h1 class="text-6xl font-bold mb-4 text-primary">404</h1>
    <p class="text-2xl mb-4">Oops! Página não encontrada.</p>
    <p class="mb-6 text-gray-400">Talvez a lâmina tenha escapado… Não conseguimos encontrar essa página.</p>

    <p-button type="button" label="Voltar para o início" icon="pi pi-home" class="p-button-outlined p-button-rounded" (click)="goHome()"></p-button>
  </div>
</main>
