<div class="manage-status-container p-card p-p-3 p-mb-3 w-[320px] md:w-[780px] lg:w-[980px]">
  @if (isLoading()) {
  <div class="loading">Carregando...</div>
  } @else {
  <div class="admin-panel p-4">
    <h1 class="text-xl font-semibold mb-2">Painel Administrativo</h1>
    <p class="mb-4 text-lg text-gray-600">Gerencie o status da barbearia e da fila de atendimento.</p>

    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-2 gap-4">
      <div class="status-item p-4 bg-white rounded-lg shadow-md flex items-center justify-between">
        <span><strong>PIN Atual:</strong></span>
        <span class="font-mono text-lg text-gray-800">{{ barbershopInfo().accessCode }}</span>
      </div>

      <div class="status-item p-4 bg-white rounded-lg shadow-md flex items-center justify-between">
        <span><strong>Status:</strong></span>
        <span
          class="font-semibold text-lg 
          {{ barbershopInfo().isOpen ? 'text-green-600' : 'text-red-600' }}"
        >
          {{ barbershopInfo().isOpen ? 'Aberto' : 'Fechado' }}
        </span>
      </div>
    </div>
  </div>

  }
</div>
