<div class="w-[320px] sm:w-[640px] md:w-[768px] mx-auto p-6 bg-white rounded-lg shadow-md">
  @if (isLoadingData()) {
  <div class="absolute inset-0 bg-white bg-opacity-90 z-10 flex items-center justify-center">
    <p-progressSpinner></p-progressSpinner>
  </div>
  } @if (!isLoadingData() && isShopClosed()) {
  <div class="inset-0 bg-white bg-opacity-90 z-10 flex flex-col items-center justify-center p-6">
    <div class="text-center max-w-xs">
      <div class="mb-4 p-4 bg-red-100 border-l-4 border-red-500 text-red-700 rounded">
        <p class="font-bold text-lg">Barbearia Fechada</p>
        <p>No momento não estamos atendendo. Por favor, volte mais tarde.</p>
      </div>
    </div>
  </div>
  }

  <h2 class="text-2xl font-bold text-gray-800 mb-6">Entrar na Fila</h2>
  <form [formGroup]="queueForm" (ngSubmit)="onSubmit()" class="space-y-4">
    <div class="space-y-2">
      <label for="idBarber" class="block text-sm font-medium text-gray-700">Barbeiro</label>
      <p-dropdown
        id="idBarber"
        formControlName="idBarber"
        [options]="barberList()"
        optionLabel="fullname"
        optionValue="id"
        placeholder="Selecione um barbeiro"
        class="w-full"
      ></p-dropdown>
    </div>

    <div class="space-y-2">
      <label for="services" class="block text-sm font-medium text-gray-700">Serviços</label>
      <p-multiSelect
        formControlName="idServices"
        [options]="serviceList()"
        optionLabel="description"
        optionValue="id"
        placeholder="Selecione os serviços"
        display="chip"
        [filter]="true"
        class="w-full"
      >
      </p-multiSelect>
    </div>

    <div class="space-y-2">
      <label for="amount" class="block text-sm font-medium text-gray-700">Valor Total</label>
      <input pInputText id="amount" formControlName="amount" placeholder="R$ 0,00" readonly class="w-full p-2 border rounded-md bg-gray-100" />
    </div>

    <div class="flex-auto">
      <label for="validationCode">Código de validação</label>
      <input
        type="text"
        id="validationCode"
        pInputText
        formControlName="validationCode"
        maxlength="4"
        class="w-full p-2 border rounded-md"
        [ngClass]="{'border-red-500': showPinError()}"
      />

      @if (showPinError()) {
      <div class="mt-1 text-sm text-red-600">O código de validação está incorreto. Por favor, verifique e tente novamente.</div>
      }
    </div>

    <div class="pt-4">
      <button
        pButton
        type="submit"
        icon="pi pi-send"
        [label]="_isLoading.isLoading() ? 'Entrando...' : 'Entrar na fila'"
        class="w-full bg-blue-600 hover:bg-blue-700 text-white py-2 px-4 rounded-md"
        severity="contrast"
        [disabled]="queueForm.invalid || _isLoading.isLoading()"
      ></button>
    </div>
  </form>
</div>
