<section class="bg-black text-white">
  <div class="max-w-7xl mx-auto px-6 py-16 flex flex-col-reverse md:flex-row items-center gap-10">
    <!-- Texto -->
    <div class="flex-1 text-center md:text-left">
      <h1 class="text-4xl md:text-5xl font-extrabold leading-tight mb-4 tracking-tight">
        <span class="block text-yellow-400 text-2xl md:text-3xl mb-2">Bem-vindo à</span>
        Barbearia Kazue
      </h1>

      <p class="text-lg md:text-xl text-gray-300 mb-6">Estilo, tradição e atendimento de qualidade para realçar sua melhor versão.</p>

      <div *ngIf="barbershopInfo().isOpen; else closedTemplate">
        <a href="/queue" class="inline-block bg-white text-black hover:bg-yellow-400 font-bold py-3 px-6 rounded-lg transition duration-300" pButton>
          <i class="pi pi-sign-in mr-2"></i> Entrar na fila
        </a>
      </div>

      <ng-template #closedTemplate>
        <div class="bg-red-800 text-white font-semibold py-3 px-6 rounded-lg inline-block shadow"><i class="pi pi-clock mr-2"></i> Estamos fechados no momento</div>
        <p class="text-sm text-gray-400 mt-2">Consulte nossos horários.</p>
      </ng-template>
    </div>

    <!-- Imagem -->
    <div class="flex-1">
      <img
        src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fcdn.pixabay.com%2Fphoto%2F2019%2F11%2F11%2F15%2F32%2Fbarber-4618697_960_720.jpg&f=1&nofb=1&ipt=4318e77e6f2e55b86a77e259c77001e3eb162df0b8ba2eafcea242e92bd58730"
        alt="Corte de cabelo masculino"
        class="w-full h-auto rounded-lg shadow-lg object-cover"
      />
    </div>
  </div>
</section>
