<main class="min-h-screen flex items-center justify-center bg-black text-white">
  <div class="text-center p-6 max-w-md">
    <h1 class="text-6xl font-bold mb-4 text-primary">401</h1>
    <p class="text-2xl mb-4">Seu usuário ainda não foi aprovado, aguarde..</p>
    <p class="mb-6 text-gray-400">Se estiver demorando muito, fale com um dos barbeiros.</p>

    <p-button type="button" label="Voltar para o início" icon="pi pi-home" class="p-button-outlined p-button-rounded" (click)="goHome()"></p-button>
  </div>
</main>
